@model IEnumerable<OdinsPizzaJoint.Models.Pie>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>@ViewBag.CurrentCategory</h1>
    @foreach(var pie in Model){
        <div>
            <li>@pie.Name</li>
            <li>@pie.Price.ToString("c")</li>
            <li>@pie.Category.CategoryName</li>
        </div>
    }
</body>
</html>